# ============================================================
# REQUISITOS DE INSTALACIÓN
# TFM - PROCESAMIENTO DE AUDIO Y DIARIZACIÓN
# ============================================================

# Dependencias generales del entorno
ipykernel
ipywidgets
python-dotenv

# ============================================================
# NOTEBOOK 00 - EDA Y PREPARACIÓN DE DATOS
# 00_EDA_PreparacionDatos.ipynb
# ============================================================

google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow
db-dtypes

pandas
numpy
matplotlib

librosa
soundfile

# ============================================================
# NOTEBOOK 01 - DIARIZACIÓN DE LOCUTORES
# 01_diarizacion_locutores.ipynb
# Nuevas dependencias respecto al Notebook 00
# ============================================================

torchaudio
torch
pyannote.audio
openpyxl